In [1]:
import pandas as pd
import requests
import json

In [2]:
response = requests.get("http://api.worldbank.org/countries/indicators/SP.DYN.TFRT.IN?per_page=100&date=1960:2016&format=json")
data = response.json()

data

[{u'page': 1, u'pages': 139, u'per_page': u'100', u'total': 13888},
 [{u'country': {u'id': u'1A', u'value': u'Arab World'},
   u'date': u'2015',
   u'decimal': u'1',
   u'indicator': {u'id': u'SP.DYN.TFRT.IN',
    u'value': u'Fertility rate, total (births per woman)'},
   u'value': None},
  {u'country': {u'id': u'1A', u'value': u'Arab World'},
   u'date': u'2014',
   u'decimal': u'1',
   u'indicator': {u'id': u'SP.DYN.TFRT.IN',
    u'value': u'Fertility rate, total (births per woman)'},
   u'value': u'3.37487048589565'},
  {u'country': {u'id': u'1A', u'value': u'Arab World'},
   u'date': u'2013',
   u'decimal': u'1',
   u'indicator': {u'id': u'SP.DYN.TFRT.IN',
    u'value': u'Fertility rate, total (births per woman)'},
   u'value': u'3.40530020283187'},
  {u'country': {u'id': u'1A', u'value': u'Arab World'},
   u'date': u'2012',
   u'decimal': u'1',
   u'indicator': {u'id': u'SP.DYN.TFRT.IN',
    u'value': u'Fertility rate, total (births per woman)'},
   u'value': u'3.42534509412474'},
  {u'country': {u'id': u'1A', u'value': u'Arab World'},
   u'date': u'2011',
   u'decimal': u'1',
   u'indicator': {u'id': u'SP.DYN.TFRT.IN',
    u'value': u'Fertility rate, total (births per woman)'},
   u'value': u'3.43432010989388'},
  {u'country': {u'id': u'1A', u'value': u'Arab World'},
   u'date': u'2010',
   u'decimal': u'1',
   u'indicator': {u'id': u'SP.DYN.TFRT.IN',
    u'value': u'Fertility rate, total (births per woman)'},
   u'value': u'3.43702285830269'},
  {u'country': {u'id': u'1A', u'value': u'Arab World'},
   u'date': u'2009',
   u'decimal': u'1',
   u'indicator': {u'id': u'SP.DYN.TFRT.IN',
    u'value': u'Fertility rate, total (births per woman)'},
   u'value': u'3.43506402556287'},
  {u'country': {u'id': u'1A', u'value': u'Arab World'},
   u'date': u'2008',
   u'decimal': u'1',
   u'indicator': {u'id': u'SP.DYN.TFRT.IN',
    u'value': u'Fertility rate, total (births per woman)'},
   u'value': u'3.43693315361456'},
  {u'country': {u'id': u'1A', u'value': u'Arab World'},
   u'date': u'2007',
   u'decimal': u'1',
   u'indicator': {u'id': u'SP.DYN.TFRT.IN',
    u'value': u'Fertility rate, total (births per woman)'},
   u'value': u'3.44308440153413'},
  {u'country': {u'id': u'1A', u'value': u'Arab World'},
   u'date': u'2006',
   u'decimal': u'1',
   u'indicator': {u'id': u'SP.DYN.TFRT.IN',
    u'value': u'Fertility rate, total (births per woman)'},
   u'value': u'3.4583736288397'},
  {u'country': {u'id': u'1A', u'value': u'Arab World'},
   u'date': u'2005',
   u'decimal': u'1',
   u'indicator': {u'id': u'SP.DYN.TFRT.IN',
    u'value': u'Fertility rate, total (births per woman)'},
   u'value': u'3.48520187086675'},
  {u'country': {u'id': u'1A', u'value': u'Arab World'},
   u'date': u'2004',
   u'decimal': u'1',
   u'indicator': {u'id': u'SP.DYN.TFRT.IN',
    u'value': u'Fertility rate, total (births per woman)'},
   u'value': u'3.52244263702108'},
  {u'country': {u'id': u'1A', u'value': u'Arab World'},
   u'date': u'2003',
   u'decimal': u'1',
   u'indicator': {u'id': u'SP.DYN.TFRT.IN',
    u'value': u'Fertility rate, total (births per woman)'},
   u'value': u'3.57325596831153'},
  {u'country': {u'id': u'1A', u'value': u'Arab World'},
   u'date': u'2002',
   u'decimal': u'1',
   u'indicator': {u'id': u'SP.DYN.TFRT.IN',
    u'value': u'Fertility rate, total (births per woman)'},
   u'value': u'3.63147492540832'},
  {u'country': {u'id': u'1A', u'value': u'Arab World'},
   u'date': u'2001',
   u'decimal': u'1',
   u'indicator': {u'id': u'SP.DYN.TFRT.IN',
    u'value': u'Fertility rate, total (births per woman)'},
   u'value': u'3.70544806400397'},
  {u'country': {u'id': u'1A', u'value': u'Arab World'},
   u'date': u'2000',
   u'decimal': u'1',
   u'indicator': {u'id': u'SP.DYN.TFRT.IN',
    u'value': u'Fertility rate, total (births per woman)'},
   u'value': u'3.79122398951199'},
  {u'country': {u'id': u'1A', u'value': u'Arab World'},
   u'date': u'1999',
   u'decimal': u'1',
   u'indicator': {u'id': u'SP.DYN.TFRT.IN',
    u'value': u'Fertility rate, total (births per woman)'},
   u'value': u'3.88851233905942'},
  {u'country': {u'id': u'1A', u'value': u'Arab World'},
   u'date': u'1998',
   u'decimal': u'1',
   u'indicator': {u'id': u'SP.DYN.TFRT.IN',
    u'value': u'Fertility rate, total (births per woman)'},
   u'value': u'4.00376340408392'},
  {u'country': {u'id': u'1A', u'value': u'Arab World'},
   u'date': u'1997',
   u'decimal': u'1',
   u'indicator': {u'id': u'SP.DYN.TFRT.IN',
    u'value': u'Fertility rate, total (births per woman)'},
   u'value': u'4.1304572221786'},
  {u'country': {u'id': u'1A', u'value': u'Arab World'},
   u'date': u'1996',
   u'decimal': u'1',
   u'indicator': {u'id': u'SP.DYN.TFRT.IN',
    u'value': u'Fertility rate, total (births per woman)'},
   u'value': u'4.26591576093282'},
  {u'country': {u'id': u'1A', u'value': u'Arab World'},
   u'date': u'1995',
   u'decimal': u'1',
   u'indicator': {u'id': u'SP.DYN.TFRT.IN',
    u'value': u'Fertility rate, total (births per woman)'},
   u'value': u'4.41082976464137'},
  {u'country': {u'id': u'1A', u'value': u'Arab World'},
   u'date': u'1994',
   u'decimal': u'1',
   u'indicator': {u'id': u'SP.DYN.TFRT.IN',
    u'value': u'Fertility rate, total (births per woman)'},
   u'value': u'4.57933677302795'},
  {u'country': {u'id': u'1A', u'value': u'Arab World'},
   u'date': u'1993',
   u'decimal': u'1',
   u'indicator': {u'id': u'SP.DYN.TFRT.IN',
    u'value': u'Fertility rate, total (births per woman)'},
   u'value': u'4.74141408049196'},
  {u'country': {u'id': u'1A', u'value': u'Arab World'},
   u'date': u'1992',
   u'decimal': u'1',
   u'indicator': {u'id': u'SP.DYN.TFRT.IN',
    u'value': u'Fertility rate, total (births per woman)'},
   u'value': u'4.90249860038692'},
  {u'country': {u'id': u'1A', u'value': u'Arab World'},
   u'date': u'1991',
   u'decimal': u'1',
   u'indicator': {u'id': u'SP.DYN.TFRT.IN',
    u'value': u'Fertility rate, total (births per woman)'},
   u'value': u'5.03283243019053'},
  {u'country': {u'id': u'1A', u'value': u'Arab World'},
   u'date': u'1990',
   u'decimal': u'1',
   u'indicator': {u'id': u'SP.DYN.TFRT.IN',
    u'value': u'Fertility rate, total (births per woman)'},
   u'value': u'5.18563086095649'},
  {u'country': {u'id': u'1A', u'value': u'Arab World'},
   u'date': u'1989',
   u'decimal': u'1',
   u'indicator': {u'id': u'SP.DYN.TFRT.IN',
    u'value': u'Fertility rate, total (births per woman)'},
   u'value': u'5.33483209570477'},
  {u'country': {u'id': u'1A', u'value': u'Arab World'},
   u'date': u'1988',
   u'decimal': u'1',
   u'indicator': {u'id': u'SP.DYN.TFRT.IN',
    u'value': u'Fertility rate, total (births per woman)'},
   u'value': u'5.48492704582595'},
  {u'country': {u'id': u'1A', u'value': u'Arab World'},
   u'date': u'1987',
   u'decimal': u'1',
   u'indicator': {u'id': u'SP.DYN.TFRT.IN',
    u'value': u'Fertility rate, total (births per woman)'},
   u'value': u'5.62789352555739'},
  {u'country': {u'id': u'1A', u'value': u'Arab World'},
   u'date': u'1986',
   u'decimal': u'1',
   u'indicator': {u'id': u'SP.DYN.TFRT.IN',
    u'value': u'Fertility rate, total (births per woman)'},
   u'value': u'5.76130177822977'},
  {u'country': {u'id': u'1A', u'value': u'Arab World'},
   u'date': u'1985',
   u'decimal': u'1',
   u'indicator': {u'id': u'SP.DYN.TFRT.IN',
    u'value': u'Fertility rate, total (births per woman)'},
   u'value': u'5.88353854979181'},
  {u'country': {u'id': u'1A', u'value': u'Arab World'},
   u'date': u'1984',
   u'decimal': u'1',
   u'indicator': {u'id': u'SP.DYN.TFRT.IN',
    u'value': u'Fertility rate, total (births per woman)'},
   u'value': u'5.99190821418639'},
  {u'country': {u'id': u'1A', u'value': u'Arab World'},
   u'date': u'1983',
   u'decimal': u'1',
   u'indicator': {u'id': u'SP.DYN.TFRT.IN',
    u'value': u'Fertility rate, total (births per woman)'},
   u'value': u'6.08949668336058'},
  {u'country': {u'id': u'1A', u'value': u'Arab World'},
   u'date': u'1982',
   u'decimal': u'1',
   u'indicator': {u'id': u'SP.DYN.TFRT.IN',
    u'value': u'Fertility rate, total (births per woman)'},
   u'value': u'6.17758165554429'},
  {u'country': {u'id': u'1A', u'value': u'Arab World'},
   u'date': u'1981',
   u'decimal': u'1',
   u'indicator': {u'id': u'SP.DYN.TFRT.IN',
    u'value': u'Fertility rate, total (births per woman)'},
   u'value': u'6.25713088154182'},
  {u'country': {u'id': u'1A', u'value': u'Arab World'},
   u'date': u'1980',
   u'decimal': u'1',
   u'indicator': {u'id': u'SP.DYN.TFRT.IN',
    u'value': u'Fertility rate, total (births per woman)'},
   u'value': u'6.32695881246635'},
  {u'country': {u'id': u'1A', u'value': u'Arab World'},
   u'date': u'1979',
   u'decimal': u'1',
   u'indicator': {u'id': u'SP.DYN.TFRT.IN',
    u'value': u'Fertility rate, total (births per woman)'},
   u'value': u'6.38767156402657'},
  {u'country': {u'id': u'1A', u'value': u'Arab World'},
   u'date': u'1978',
   u'decimal': u'1',
   u'indicator': {u'id': u'SP.DYN.TFRT.IN',
    u'value': u'Fertility rate, total (births per woman)'},
   u'value': u'6.43928873140372'},
  {u'country': {u'id': u'1A', u'value': u'Arab World'},
   u'date': u'1977',
   u'decimal': u'1',
   u'indicator': {u'id': u'SP.DYN.TFRT.IN',
    u'value': u'Fertility rate, total (births per woman)'},
   u'value': u'6.48407466612086'},
  {u'country': {u'id': u'1A', u'value': u'Arab World'},
   u'date': u'1976',
   u'decimal': u'1',
   u'indicator': {u'id': u'SP.DYN.TFRT.IN',
    u'value': u'Fertility rate, total (births per woman)'},
   u'value': u'6.52377893396466'},
  {u'country': {u'id': u'1A', u'value': u'Arab World'},
   u'date': u'1975',
   u'decimal': u'1',
   u'indicator': {u'id': u'SP.DYN.TFRT.IN',
    u'value': u'Fertility rate, total (births per woman)'},
   u'value': u'6.56179051189257'},
  {u'country': {u'id': u'1A', u'value': u'Arab World'},
   u'date': u'1974',
   u'decimal': u'1',
   u'indicator': {u'id': u'SP.DYN.TFRT.IN',
    u'value': u'Fertility rate, total (births per woman)'},
   u'value': u'6.60160830295389'},
  {u'country': {u'id': u'1A', u'value': u'Arab World'},
   u'date': u'1973',
   u'decimal': u'1',
   u'indicator': {u'id': u'SP.DYN.TFRT.IN',
    u'value': u'Fertility rate, total (births per woman)'},
   u'value': u'6.64526081226054'},
  {u'country': {u'id': u'1A', u'value': u'Arab World'},
   u'date': u'1972',
   u'decimal': u'1',
   u'indicator': {u'id': u'SP.DYN.TFRT.IN',
    u'value': u'Fertility rate, total (births per woman)'},
   u'value': u'6.6926169853669'},
  {u'country': {u'id': u'1A', u'value': u'Arab World'},
   u'date': u'1971',
   u'decimal': u'1',
   u'indicator': {u'id': u'SP.DYN.TFRT.IN',
    u'value': u'Fertility rate, total (births per woman)'},
   u'value': u'6.74275702316561'},
  {u'country': {u'id': u'1A', u'value': u'Arab World'},
   u'date': u'1970',
   u'decimal': u'1',
   u'indicator': {u'id': u'SP.DYN.TFRT.IN',
    u'value': u'Fertility rate, total (births per woman)'},
   u'value': u'6.79457058398361'},
  {u'country': {u'id': u'1A', u'value': u'Arab World'},
   u'date': u'1969',
   u'decimal': u'1',
   u'indicator': {u'id': u'SP.DYN.TFRT.IN',
    u'value': u'Fertility rate, total (births per woman)'},
   u'value': u'6.84432711625492'},
  {u'country': {u'id': u'1A', u'value': u'Arab World'},
   u'date': u'1968',
   u'decimal': u'1',
   u'indicator': {u'id': u'SP.DYN.TFRT.IN',
    u'value': u'Fertility rate, total (births per woman)'},
   u'value': u'6.88904710672902'},
  {u'country': {u'id': u'1A', u'value': u'Arab World'},
   u'date': u'1967',
   u'decimal': u'1',
   u'indicator': {u'id': u'SP.DYN.TFRT.IN',
    u'value': u'Fertility rate, total (births per woman)'},
   u'value': u'6.92585279204632'},
  {u'country': {u'id': u'1A', u'value': u'Arab World'},
   u'date': u'1966',
   u'decimal': u'1',
   u'indicator': {u'id': u'SP.DYN.TFRT.IN',
    u'value': u'Fertility rate, total (births per woman)'},
   u'value': u'6.95409900390056'},
  {u'country': {u'id': u'1A', u'value': u'Arab World'},
   u'date': u'1965',
   u'decimal': u'1',
   u'indicator': {u'id': u'SP.DYN.TFRT.IN',
    u'value': u'Fertility rate, total (births per woman)'},
   u'value': u'6.97238024580029'},
  {u'country': {u'id': u'1A', u'value': u'Arab World'},
   u'date': u'1964',
   u'decimal': u'1',
   u'indicator': {u'id': u'SP.DYN.TFRT.IN',
    u'value': u'Fertility rate, total (births per woman)'},
   u'value': u'6.97899758257914'},
  {u'country': {u'id': u'1A', u'value': u'Arab World'},
   u'date': u'1963',
   u'decimal': u'1',
   u'indicator': {u'id': u'SP.DYN.TFRT.IN',
    u'value': u'Fertility rate, total (births per woman)'},
   u'value': u'6.97588078049904'},
  {u'country': {u'id': u'1A', u'value': u'Arab World'},
   u'date': u'1962',
   u'decimal': u'1',
   u'indicator': {u'id': u'SP.DYN.TFRT.IN',
    u'value': u'Fertility rate, total (births per woman)'},
   u'value': u'6.96426500552045'},
  {u'country': {u'id': u'1A', u'value': u'Arab World'},
   u'date': u'1961',
   u'decimal': u'1',
   u'indicator': {u'id': u'SP.DYN.TFRT.IN',
    u'value': u'Fertility rate, total (births per woman)'},
   u'value': u'6.94610045153773'},
  {u'country': {u'id': u'1A', u'value': u'Arab World'},
   u'date': u'1960',
   u'decimal': u'1',
   u'indicator': {u'id': u'SP.DYN.TFRT.IN',
    u'value': u'Fertility rate, total (births per woman)'},
   u'value': u'6.9240112552385'},
  {u'country': {u'id': u'S3', u'value': u'Caribbean small states'},
   u'date': u'2003',
   u'decimal': u'1',
   u'indicator': {u'id': u'SP.DYN.TFRT.IN',
    u'value': u'Fertility rate, total (births per woman)'},
   u'value': u'2.32481224073492'},
  {u'country': {u'id': u'S3', u'value': u'Caribbean small states'},
   u'date': u'2002',
   u'decimal': u'1',
   u'indicator': {u'id': u'SP.DYN.TFRT.IN',
    u'value': u'Fertility rate, total (births per woman)'},
   u'value': u'2.35696900013628'},
  {u'country': {u'id': u'S3', u'value': u'Caribbean small states'},
   u'date': u'2001',
   u'decimal': u'1',
   u'indicator': {u'id': u'SP.DYN.TFRT.IN',
    u'value': u'Fertility rate, total (births per woman)'},
   u'value': u'2.39317632998342'},
  {u'country': {u'id': u'S3', u'value': u'Caribbean small states'},
   u'date': u'2000',
   u'decimal': u'1',
   u'indicator': {u'id': u'SP.DYN.TFRT.IN',
    u'value': u'Fertility rate, total (births per woman)'},
   u'value': u'2.43296842642179'},
  {u'country': {u'id': u'S3', u'value': u'Caribbean small states'},
   u'date': u'1999',
   u'decimal': u'1',
   u'indicator': {u'id': u'SP.DYN.TFRT.IN',
    u'value': u'Fertility rate, total (births per woman)'},
   u'value': u'2.4759882351321'},
  {u'country': {u'id': u'S3', u'value': u'Caribbean small states'},
   u'date': u'1998',
   u'decimal': u'1',
   u'indicator': {u'id': u'SP.DYN.TFRT.IN',
    u'value': u'Fertility rate, total (births per woman)'},
   u'value': u'2.52045280827249'},
  {u'country': {u'id': u'S3', u'value': u'Caribbean small states'},
   u'date': u'1997',
   u'decimal': u'1',
   u'indicator': {u'id': u'SP.DYN.TFRT.IN',
    u'value': u'Fertility rate, total (births per woman)'},
   u'value': u'2.56584354797517'},
  {u'country': {u'id': u'S3', u'value': u'Caribbean small states'},
   u'date': u'1996',
   u'decimal': u'1',
   u'indicator': {u'id': u'SP.DYN.TFRT.IN',
    u'value': u'Fertility rate, total (births per woman)'},
   u'value': u'2.61176222816704'},
  {u'country': {u'id': u'S3', u'value': u'Caribbean small states'},
   u'date': u'1995',
   u'decimal': u'1',
   u'indicator': {u'id': u'SP.DYN.TFRT.IN',
    u'value': u'Fertility rate, total (births per woman)'},
   u'value': u'2.65804994191992'},
  {u'country': {u'id': u'S3', u'value': u'Caribbean small states'},
   u'date': u'1994',
   u'decimal': u'1',
   u'indicator': {u'id': u'SP.DYN.TFRT.IN',
    u'value': u'Fertility rate, total (births per woman)'},
   u'value': u'2.7074071719216'},
  {u'country': {u'id': u'S3', u'value': u'Caribbean small states'},
   u'date': u'1993',
   u'decimal': u'1',
   u'indicator': {u'id': u'SP.DYN.TFRT.IN',
    u'value': u'Fertility rate, total (births per woman)'},
   u'value': u'2.7586592514507'},
  {u'country': {u'id': u'S3', u'value': u'Caribbean small states'},
   u'date': u'1992',
   u'decimal': u'1',
   u'indicator': {u'id': u'SP.DYN.TFRT.IN',
    u'value': u'Fertility rate, total (births per woman)'},
   u'value': u'2.81327247127512'},
  {u'country': {u'id': u'S3', u'value': u'Caribbean small states'},
   u'date': u'1991',
   u'decimal': u'1',
   u'indicator': {u'id': u'SP.DYN.TFRT.IN',
    u'value': u'Fertility rate, total (births per woman)'},
   u'value': u'2.87191206840259'},
  {u'country': {u'id': u'S3', u'value': u'Caribbean small states'},
   u'date': u'1990',
   u'decimal': u'1',
   u'indicator': {u'id': u'SP.DYN.TFRT.IN',
    u'value': u'Fertility rate, total (births per woman)'},
   u'value': u'2.9361421232796'},
  {u'country': {u'id': u'S3', u'value': u'Caribbean small states'},
   u'date': u'1989',
   u'decimal': u'1',
   u'indicator': {u'id': u'SP.DYN.TFRT.IN',
    u'value': u'Fertility rate, total (births per woman)'},
   u'value': u'3.00370696274805'},
  {u'country': {u'id': u'S3', u'value': u'Caribbean small states'},
   u'date': u'1988',
   u'decimal': u'1',
   u'indicator': {u'id': u'SP.DYN.TFRT.IN',
    u'value': u'Fertility rate, total (births per woman)'},
   u'value': u'3.07769816000343'},
  {u'country': {u'id': u'S3', u'value': u'Caribbean small states'},
   u'date': u'1987',
   u'decimal': u'1',
   u'indicator': {u'id': u'SP.DYN.TFRT.IN',
    u'value': u'Fertility rate, total (births per woman)'},
   u'value': u'3.15583460178531'},
  {u'country': {u'id': u'S3', u'value': u'Caribbean small states'},
   u'date': u'1986',
   u'decimal': u'1',
   u'indicator': {u'id': u'SP.DYN.TFRT.IN',
    u'value': u'Fertility rate, total (births per woman)'},
   u'value': u'3.23764817900822'},
  {u'country': {u'id': u'S3', u'value': u'Caribbean small states'},
   u'date': u'1985',
   u'decimal': u'1',
   u'indicator': {u'id': u'SP.DYN.TFRT.IN',
    u'value': u'Fertility rate, total (births per woman)'},
   u'value': u'3.31958633707099'},
  {u'country': {u'id': u'S3', u'value': u'Caribbean small states'},
   u'date': u'1984',
   u'decimal': u'1',
   u'indicator': {u'id': u'SP.DYN.TFRT.IN',
    u'value': u'Fertility rate, total (births per woman)'},
   u'value': u'3.39809217969321'},
  {u'country': {u'id': u'S3', u'value': u'Caribbean small states'},
   u'date': u'1983',
   u'decimal': u'1',
   u'indicator': {u'id': u'SP.DYN.TFRT.IN',
    u'value': u'Fertility rate, total (births per woman)'},
   u'value': u'3.47069037238979'},
  {u'country': {u'id': u'S3', u'value': u'Caribbean small states'},
   u'date': u'1982',
   u'decimal': u'1',
   u'indicator': {u'id': u'SP.DYN.TFRT.IN',
    u'value': u'Fertility rate, total (births per woman)'},
   u'value': u'3.53808126118301'},
  {u'country': {u'id': u'S3', u'value': u'Caribbean small states'},
   u'date': u'1981',
   u'decimal': u'1',
   u'indicator': {u'id': u'SP.DYN.TFRT.IN',
    u'value': u'Fertility rate, total (births per woman)'},
   u'value': u'3.60247166919413'},
  {u'country': {u'id': u'S3', u'value': u'Caribbean small states'},
   u'date': u'1980',
   u'decimal': u'1',
   u'indicator': {u'id': u'SP.DYN.TFRT.IN',
    u'value': u'Fertility rate, total (births per woman)'},
   u'value': u'3.66766879571059'},
  {u'country': {u'id': u'S3', u'value': u'Caribbean small states'},
   u'date': u'1979',
   u'decimal': u'1',
   u'indicator': {u'id': u'SP.DYN.TFRT.IN',
    u'value': u'Fertility rate, total (births per woman)'},
   u'value': u'3.74030774447743'},
  {u'country': {u'id': u'S3', u'value': u'Caribbean small states'},
   u'date': u'1978',
   u'decimal': u'1',
   u'indicator': {u'id': u'SP.DYN.TFRT.IN',
    u'value': u'Fertility rate, total (births per woman)'},
   u'value': u'3.82471249772301'},
  {u'country': {u'id': u'S3', u'value': u'Caribbean small states'},
   u'date': u'1977',
   u'decimal': u'1',
   u'indicator': {u'id': u'SP.DYN.TFRT.IN',

In [10]:
pd.read_json(json.dumps(data[1]))

,country,date,decimal,indicator,value
0,"{u'id': u'1A', u'value': u'Arab World'}",2015,1,"{u'id': u'SP.DYN.TFRT.IN', u'value': u'Fertili...",NaN
1,"{u'id': u'1A', u'value': u'Arab World'}",2014,1,"{u'id': u'SP.DYN.TFRT.IN', u'value': u'Fertili...",3.374870
2,"{u'id': u'1A', u'value': u'Arab World'}",2013,1,"{u'id': u'SP.DYN.TFRT.IN', u'value': u'Fertili...",3.405300
3,"{u'id': u'1A', u'value': u'Arab World'}",2012,1,"{u'id': u'SP.DYN.TFRT.IN', u'value': u'Fertili...",3.425345
4,"{u'id': u'1A', u'value': u'Arab World'}",2011,1,"{u'id': u'SP.DYN.TFRT.IN', u'value': u'Fertili...",3.434320
5,"{u'id': u'1A', u'value': u'Arab World'}",2010,1,"{u'id': u'SP.DYN.TFRT.IN', u'value': u'Fertili...",3.437023
6,"{u'id': u'1A', u'value': u'Arab World'}",2009,1,"{u'id': u'SP.DYN.TFRT.IN', u'value': u'Fertili...",3.435064
7,"{u'id': u'1A', u'value': u'Arab World'}",2008,1,"{u'id': u'SP.DYN.TFRT.IN', u'value': u'Fertili...",3.436933
8,"{u'id': u'1A', u'value': u'Arab World'}",2007,1,"{u'id': u'SP.DYN.TFRT.IN', u'value': u'Fertili...",3.443084
9,"{u'id': u'1A', u'value': u'Arab World'}",2006,1,"{u'id': u'SP.DYN.TFRT.IN', u'value': u'Fertili...",3.458374
10,"{u'id': u'1A', u'value': u'Arab World'}",2005,1,"{u'id': u'SP.DYN.TFRT.IN', u'value': u'Fertili...",3.485202
11,"{u'id': u'1A', u'value': u'Arab World'}",2004,1,"{u'id': u'SP.DYN.TFRT.IN', u'value': u'Fertili...",3.522443
12,"{u'id': u'1A', u'value': u'Arab World'}",2003,1,"{u'id': u'SP.DYN.TFRT.IN', u'value': u'Fertili...",3.573256
13,"{u'id': u'1A', u'value': u'Arab World'}",2002,1,"{u'id': u'SP.DYN.TFRT.IN', u'value': u'Fertili...",3.631475
14,"{u'id': u'1A', u'value': u'Arab World'}",2001,1,"{u'id': u'SP.DYN.TFRT.IN', u'value': u'Fertili...",3.705448
15,"{u'id': u'1A', u'value': u'Arab World'}",2000,1,"{u'id': u'SP.DYN.TFRT.IN', u'value': u'Fertili...",3.791224
16,"{u'id': u'1A', u'value': u'Arab World'}",1999,1,"{u'id': u'SP.DYN.TFRT.IN', u'value': u'Fertili...",3.888512
17,"{u'id': u'1A', u'value': u'Arab World'}",1998,1,"{u'id': u'SP.DYN.TFRT.IN', u'value': u'Fertili...",4.003763
18,"{u'id': u'1A', u'value': u'Arab World'}",1997,1,"{u'id': u'SP.DYN.TFRT.IN', u'value': u'Fertili...",4.130457
19,"{u'id': u'1A', u'value': u'Arab World'}",1996,1,"{u'id': u'SP.DYN.TFRT.IN', u'value': u'Fertili...",4.265916
20,"{u'id': u'1A', u'value': u'Arab World'}",1995,1,"{u'id': u'SP.DYN.TFRT.IN', u'value': u'Fertili...",4.410830
21,"{u'id': u'1A', u'value': u'Arab World'}",1994,1,"{u'id': u'SP.DYN.TFRT.IN', u'value': u'Fertili...",4.579337
22,"{u'id': u'1A', u'value': u'Arab World'}",1993,1,"{u'id': u'SP.DYN.TFRT.IN', u'value': u'Fertili...",4.741414
23,"{u'id': u'1A', u'value': u'Arab World'}",1992,1,"{u'id': u'SP.DYN.TFRT.IN', u'value': u'Fertili...",4.902499
24,"{u'id': u'1A', u'value': u'Arab World'}",1991,1,"{u'id': u'SP.DYN.TFRT.IN', u'value': u'Fertili...",5.032832
25,"{u'id': u'1A', u'value': u'Arab World'}",1990,1,"{u'id': u'SP.DYN.TFRT.IN', u'value': u'Fertili...",5.185631
26,"{u'id': u'1A', u'value': u'Arab World'}",1989,1,"{u'id': u'SP.DYN.TFRT.IN', u'value': u'Fertili...",5.334832
27,"{u'id': u'1A', u'value': u'Arab World'}",1988,1,"{u'id': u'SP.DYN.TFRT.IN', u'value': u'Fertili...",5.484927
28,"{u'id': u'1A', u'value': u'Arab World'}",1987,1,"{u'id': u'SP.DYN.TFRT.IN', u'value': u'Fertili...",5.627894
29,"{u'id': u'1A', u'value': u'Arab World'}",1986,1,"{u'id': u'SP.DYN.TFRT.IN', u'value': u'Fertili...",5.761302
...,...,...,...,...,...
70,"{u'id': u'S3', u'value': u'Caribbean small sta...",1989,1,"{u'id': u'SP.DYN.TFRT.IN', u'value': u'Fertili...",3.003707
71,"{u'id': u'S3', u'value': u'Caribbean small sta...",1988,1,"{u'id': u'SP.DYN.TFRT.IN', u'value': u'Fertili...",3.077698
72,"{u'id': u'S3', u'value': u'Caribbean small sta...",1987,1,"{u'id': u'SP.DYN.TFRT.IN', u'value': u'Fertili...",3.155835
73,"{u'id': u'S3', u'value': u'Caribbean small sta...",1986,1,"{u'id': u'SP.DYN.TFRT.IN', u'value': u'Fertili...",3.237648
74,"{u'id': u'S3', u'value': u'Caribbean small sta...",1985,1,"{u'id': u'SP.DYN.TFRT.IN', u'value': u'Fertili...",3.319586
75,"{u'id': u'S3', u'value': u'Caribbean small sta...",1984,1,"{u'id': u'SP.DYN.TFRT.IN', u'value': u'Fertili...",3.398092
76,"{u'id': u'S3', u'value': u'Caribbean small sta...",1983,1,"{u'id': u'SP.DYN.TFRT.IN', u'value': u'Fertili...",3.470690
77,"{u'id': u'S3', u'value': u'Caribbean small sta...",1982,1,"{u'id': u'SP.DYN.TFRT.IN', u'value': u'Fertili...",3.538081
78,"{u'id': u'S3', u'value': u'Caribbean small sta...",1981,1,"{u'id': u'SP.DYN.TFRT.IN', u'value': u'Fertili...",3.602472
79,"{u'id': u'S3', u'value': u'Caribbean small sta...",1980,1,"{u'id': u'SP.DYN.TFRT.IN', u'value': u'Fertili...",3.667669
80,"{u'id': u'S3', u'value': u'Caribbean small sta...",1979,1,"{u'id': u'SP.DYN.TFRT.IN', u'value': u'Fertili...",3.740308
81,"{u'id': u'S3', u'value': u'Caribbean small sta...",1978,1,"{u'id': u'SP.DYN.TFRT.IN', u'value': u'Fertili...",3.824712
82,"{u'id': u'S3', u'value': u'Caribbean small sta...",1977,1,"{u'id': u'SP.DYN.TFRT.IN', u'value': u'Fertili...",3.924392
83,"{u'id': u'S3', u'value': u'Caribbean small sta...",1976,1,"{u'id': u'SP.DYN.TFRT.IN', u'value': u'Fertili...",4.037879
84,"{u'id': u'S3', u'value': u'Caribbean small sta...",1975,1,"{u'id': u'SP.DYN.TFRT.IN', u'value': u'Fertili...",4.162559
85,"{u'id': u'S3', u'value': u'Caribbean small sta...",1974,1,"{u'id': u'SP.DYN.TFRT.IN', u'value': u'Fertili...",4.298434
86,"{u'id': u'S3', u'value': u'Caribbean small sta...",1973,1,"{u'id': u'SP.DYN.TFRT.IN', u'value': u'Fertili...",4.435922
87,"{u'id': u'S3', u'value': u'Caribbean small sta...",1972,1,"{u'id': u'SP.DYN.TFRT.IN', u'value': u'Fertili...",4.569662
88,"{u'id': u'S3', u'value': u'Caribbean small sta...",1971,1,"{u'id': u'SP.DYN.TFRT.IN', u'value': u'Fertili...",4.698758
89,"{u'id': u'S3', u'value': u'Caribbean small sta...",1970,1,"{u'id': u'SP.DYN.TFRT.IN', u'value': u'Fertili...",4.822494
90,"{u'id': u'S3', u'value': u'Caribbean small sta...",1969,1,"{u'id': u'SP.DYN.TFRT.IN', u'value': u'Fertili...",4.941660
91,"{u'id': u'S3', u'value': u'Caribbean small sta...",1968,1,"{u'id': u'SP.DYN.TFRT.IN', u'value': u'Fertili...",5.058795
92,"{u'id': u'S3', u'value': u'Caribbean small sta...",1967,1,"{u'id': u'SP.DYN.TFRT.IN', u'value': u'Fertili...",5.171659
93,"{u'id': u'S3', u'value': u'Caribbean small sta...",1966,1,"{u'id': u'SP.DYN.TFRT.IN', u'value': u'Fertili...",5.276061
94,"{u'id': u'S3', u'value': u'Caribbean small sta...",1965,1,"{u'id': u'SP.DYN.TFRT.IN', u'value': u'Fertili...",5.366734
95,"{u'id': u'S3', u'value': u'Caribbean small sta...",1964,1,"{u'id': u'SP.DYN.TFRT.IN', u'value': u'Fertili...",5.438511
96,"{u'id': u'S3', u'value': u'Caribbean small sta...",1963,1,"{u'id': u'SP.DYN.TFRT.IN', u'value': u'Fertili...",5.491322
97,"{u'id': u'S3', u'value': u'Caribbean small sta...",1962,1,"{u'id': u'SP.DYN.TFRT.IN', u'value': u'Fertili...",5.523020
98,"{u'id': u'S3', u'value': u'Caribbean small sta...",1961,1,"{u'id': u'SP.DYN.TFRT.IN', u'value': u'Fertili...",5.532579
99,"{u'id': u'S3', u'value': u'Caribbean small sta...",1960,1,"{u'id': u'SP.DYN.TFRT.IN', u'value': u'Fertili...",5.520103

In [5]:
pd.read_json(json.dumps(data[2]))

# How do I get more rows (THERE ARE MORE)?
# And why does it look so unattractive?

IndexError: list index out of range